extends base

block content
  main.main.main--align-middle#connect-four

    +title-1('Connect Four')

    .container.container--game
      
      .game-board
        .end-game-container.status.hidden
          
        .game-buttons
          button.full-screen-btn Full Screen
          button.undo-btn Undo
          button.reset-btn Reset
          


        .cell.row-top.col-0
        .cell.row-top.col-1
        .cell.row-top.col-2
        .cell.row-top.col-3
        .cell.row-top.col-4
        .cell.row-top.col-5
        .cell.row-top.col-6
        .cell.row-0.col-0.left-border.top-border
        .cell.row-0.col-1.top-border
        .cell.row-0.col-2.top-border
        .cell.row-0.col-3.top-border
        .cell.row-0.col-4.top-border
        .cell.row-0.col-5.top-border
        .cell.row-0.col-6.top-border.right-border
        .cell.row-1.col-0.left-border
        .cell.row-1.col-1
        .cell.row-1.col-2
        .cell.row-1.col-3
        .cell.row-1.col-4
        .cell.row-1.col-5
        .cell.row-1.col-6.right-border
        .cell.row-2.col-0.left-border
        .cell.row-2.col-1
        .cell.row-2.col-2
        .cell.row-2.col-3
        .cell.row-2.col-4
        .cell.row-2.col-5
        .cell.row-2.col-6.right-border
        .cell.row-3.col-0.left-border
        .cell.row-3.col-1
        .cell.row-3.col-2
        .cell.row-3.col-3
        .cell.row-3.col-4
        .cell.row-3.col-5
        .cell.row-3.col-6.right-border
        .cell.row-4.col-0.left-border
        .cell.row-4.col-1
        .cell.row-4.col-2
        .cell.row-4.col-3
        .cell.row-4.col-4
        .cell.row-4.col-5
        .cell.row-4.col-6.right-border
        .cell.row-5.col-0.bottom-border.left-border
        .cell.row-5.col-1.bottom-border
        .cell.row-5.col-2.bottom-border
        .cell.row-5.col-3.bottom-border
        .cell.row-5.col-4.bottom-border
        .cell.row-5.col-5.bottom-border
        .cell.row-5.col-6.bottom-border.right-border


        //- questions and image links to modal carousel
        each question, index in lesson.questions 
          .container--image(id=`img-${index}`)
            button.question-modal-btn
              img(src=question.imageSrc alt="")

      
        //- .container--images 
        //-   each question, index in lesson.questions 
        //-     .container--image(id=`img-${index}`)
        //-       button.question-modal-btn
        //-         img(src=question.imageSrc alt="")

        .container--modals.hidden
          .modal--header-container
            h3.modal--title Let's Review
            button.btn.btn__md.btn__rnd.exit-modal-btn
              i.fa.fa-times

          .modal--carousel-container
            button.carousel-arrow.carousel-arrow-left
              i.fa.fa-arrow-left
            button.carousel-arrow.carousel-arrow-right
              i.fa.fa-arrow-right

            each question, index in lesson.questions
              
              .carousel-slide(id=`slide-${index}`)
                img.carousel-slide__image(src=question.imageSrc alt='question.question')
                .carousel-slide__text
                  h3= question.question
          
          .modal--footer-container
            each question, index in lesson.questions
              button.carousel-index-btn(id=`index-btn-${index}`)
                i.fa.fa-circle


      

    //- <script src="app.js"></script>
